body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 { 
    font-size: 60px;
    margin: -10px;  
    font-weight: 900;
}

p {
    font-size: 28px;
    font-weight: 500;
}