body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

h1 { 
    font-size: 80px;
    margin: -10px;  
    font-weight: 900;
    color: rgba(255, 244, 244, 0.927);
}

h2 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 28px;
    font-weight: 500;
}

header {
    display: flex;
    flex-direction: row;
    padding: 50px 0px 0px;
    background-color: rgb(115, 0, 0);
}

.logo {
    align-self: flex-end;
    margin-left: 200px;
    aspect-ratio: 3/4;
}

.hero-text {
    flex: 5 4 auto;
    margin: 30px 0px 0px 60px;
}

nav {
    display: flex;
    flex-direction: column;
}

.nav-opener {
    display: flex;
    justify-self: center;
    margin: auto;
}

.nav-container {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.nav-container ul {
    display: flex;
    gap: 0px 10px;
    margin-top: -2px;
}

.nav-container li {
    display: flex;
    background-color: rgb(124, 1, 1);
    list-style-type: none;
    padding: 5px 40px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 253, 244);
    border-radius: 0px 0px 24px 24px;
}

.landing-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.landing-image {
    border-radius: 10px;
}

aside {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: rgb(124, 1, 1);
}

.my-story {
    border: 1px solid black;
    width: 50%;
    align-self: center;
    color: rgb(255, 253, 244);
}

.my-story h2 {
    margin-bottom: 100px;
}

.my-story p {
    font-size: 30px;
    color: rgba(255, 210, 202, 0.955);
}

.my-style h2 {
    color: rgb(216, 23, 23);
    margin-bottom: -30px;
}

.my-style {
    background-color: white;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 150px;
}

.block-1 {
    display: flex;
    flex-direction: row;
    border: 4px solid brown;
    margin-right: 300px;
    justify-content: space-between;
}

.block-2 {
    display: flex;
    flex-direction: row;
    border: 4px solid brown;
    margin-left: 300px;
    justify-content: space-between;
}

.favorites {
    color: rgb(255, 253, 244);
    display: flex;
    flex-direction: column;
}

blockquote {
    background-color: rgb(223, 223, 223);
    font-style: italic;
    /* box-shadow: Meter aquí un box-shadow xd */
    padding: 0px 30px 10px;
}

blockquote p {
    font-size: 18px;
}

blockquote footer {
    font-size: 12x;
}

.favorites h2 {
    font-size: 34px;
}

.favorites ul {
    text-align: center;
    margin-left: -45px;
}

.favorites li {
    list-style-type:none;
    margin: 20px;
}

footer {
    margin-top: 50px;
}

.end {
    background-color: rgb(63, 0, 0);
    color: white;
    padding-top: 50px;
}