body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 { 
    font-size: 80px;
    margin: -10px;  
    font-weight: 900;
    color: rgba(255, 244, 244, 0.927);
    overflow: none;
}

h2 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 28px;
    font-weight: 500;
}

header {
    display: flex;
    flex-direction: row;
    padding: 50px 0px 0px;
    background-color: rgb(115, 0, 0);
    box-shadow: 0 4px 2px -2px gray;
}

.logo {
    align-self: flex-end;
    margin-left: 200px;
    aspect-ratio: 3/4;
}

.hero-text {
    flex: 5 4 auto;
    margin: 30px 0px 0px 60px;
}

nav {
    display: flex;
    flex-direction: column;
}

.landing-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 180px;
}

.landing-image:hover {
    transition: ease 0.8s;
    width: 50%;
    height: 50%;
}

aside {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: rgb(124, 1, 1);
}

.my-story {
    width: 50%;
    align-self: center;
    color: rgb(255, 253, 244);
    padding-bottom: 100px;
}

.my-story h2 {
    margin-bottom: 100px;
}

.my-story p {
    font-size: 30px;
    color: rgba(255, 210, 202, 0.955);
}

.my-style h2 {
    color: rgb(171, 14, 14);
    margin-top: -30px;
}

.my-style {
    background-color: white;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 150px;
    padding-top: 150px;
}

.block-1 {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 300px;
}

.block-1-content {
    display: flex;
    gap: 100px;
}

.block-1-content p,
.block-2-content p {
    align-self: center;
}

.block-1 image,
.block-2 image {
    aspect-ratio: 3/4;
}

.block-2 {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 200px;
}

.block-2-content {
    display: flex;
    gap: 100px;
}

.favorites {
    color: rgb(255, 253, 244);
    width: 30%;
    margin: auto;
    background-color: rgb(124, 1, 1);
    border-radius: 1000px;
    padding: 20px 0px;
    
}

.favorites h2 {
    font-size: 34px;
}

.favorites ul {
    text-align: center;
    margin-left: -45px;
}

.favorites li {
    list-style-type:none;
    margin: 20px;
}

footer {
    margin-top: 50px;
}

.end {
    background-color: rgb(63, 0, 0);
    color: white;
    padding-top: 50px;
}

@keyframes scroll {
    from {
        scale: 0.1;
        transform: translateX(-3000px);
        opacity: 0;    
    }

    to {
        scale: 1;
        transform: translateX(0);
        opacity: 1;
    }
}

.block-1-content {
    animation-name: scroll;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 800px;
}

@keyframes rightScroll {
    from {
        scale: 0.1;
        transform: translateX(3000px);
        opacity: 0;    
    }

    to {
        scale: 1;
        transform: translateX(0);
        opacity: 1;
    }
}

.block-2-content {
    animation-name: rightScroll;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 800px;
}

.block-1-content img,
.block-2-content img {
    box-shadow: 8px 8px 10px rgba(107, 107, 107, 0.436);
}

.hero-1 {
    animation-name: slideInRight;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.hero-2 {
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.hero-3 {
    animation-name: slideInRight;
    animation-duration: 2.4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(140px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.landing-image {
    border-radius: 10px;
    aspect-ratio: 4/3;
    box-shadow: 8px 8px 10px rgba(107, 107, 107, 0.436); 
    transition: ease-in-out 0.5s;
    will-change: contents;
}
